<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TravelApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddCityListServlet</display-name>
    <servlet-name>AddCityListServlet</servlet-name>
    <servlet-class>servlet.AddCityListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCityListServlet</servlet-name>
    <url-pattern>/AddCityListServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FilterAddCityListServlet</display-name>
    <filter-name>FilterAddCityListServlet</filter-name>
    <filter-class>filter.FilterAddCityListServlet</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterAddCityListServlet</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AddSceneryListServlet</display-name>
    <servlet-name>AddSceneryListServlet</servlet-name>
    <servlet-class>servlet.AddSceneryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSceneryListServlet</servlet-name>
    <url-pattern>/AddSceneryListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectSceneryCityServlet</display-name>
    <servlet-name>SelectSceneryCityServlet</servlet-name>
    <servlet-class>servlet.SelectSceneryCityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectSceneryCityServlet</servlet-name>
    <url-pattern>/SelectSceneryCityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectInfoServlet</display-name>
    <servlet-name>SelectInfoServlet</servlet-name>
    <servlet-class>servlet.SelectInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectInfoServlet</servlet-name>
    <url-pattern>/SelectInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertPlanServlet</display-name>
    <servlet-name>InsertPlanServlet</servlet-name>
    <servlet-class>servlet.InsertPlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertPlanServlet</servlet-name>
    <url-pattern>/InsertPlanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CollectServlet</display-name>
    <servlet-name>CollectServlet</servlet-name>
    <servlet-class>servlet.CollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectServlet</servlet-name>
    <url-pattern>/CollectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EvaluateSceneryServlet</display-name>
    <servlet-name>EvaluateSceneryServlet</servlet-name>
    <servlet-class>servlet.EvaluateSceneryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EvaluateSceneryServlet</servlet-name>
    <url-pattern>/EvaluateSceneryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityBusTrafficServlet</display-name>
    <servlet-name>CityBusTrafficServlet</servlet-name>
    <servlet-class>servlet.CityBusTrafficServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityBusTrafficServlet</servlet-name>
    <url-pattern>/CityBusTrafficServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBusServlet</display-name>
    <servlet-name>AddBusServlet</servlet-name>
    <servlet-class>servlet.AddBusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBusServlet</servlet-name>
    <url-pattern>/AddBusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindCityServlet</display-name>
    <servlet-name>FindCityServlet</servlet-name>
    <servlet-class>servlet.FindCityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCityServlet</servlet-name>
    <url-pattern>/FindCityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodServlet</display-name>
    <servlet-name>GoodServlet</servlet-name>
    <servlet-class>servlet.GoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodServlet</servlet-name>
    <url-pattern>/GoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelCommentServlet</display-name>
    <servlet-name>RelCommentServlet</servlet-name>
    <servlet-class>servlet.RelCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelCommentServlet</servlet-name>
    <url-pattern>/RelCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReleaseServlet</display-name>
    <servlet-name>ReleaseServlet</servlet-name>
    <servlet-class>servlet.ReleaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReleaseServlet</servlet-name>
    <url-pattern>/ReleaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Release2Servlet</display-name>
    <servlet-name>Release2Servlet</servlet-name>
    <servlet-class>servlet.Release2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Release2Servlet</servlet-name>
    <url-pattern>/Release2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecommServlet</display-name>
    <servlet-name>RecommServlet</servlet-name>
    <servlet-class>servlet.RecommServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecommServlet</servlet-name>
    <url-pattern>/RecommServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecJudgeServlet</display-name>
    <servlet-name>RecJudgeServlet</servlet-name>
    <servlet-class>servlet.RecJudgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecJudgeServlet</servlet-name>
    <url-pattern>/RecJudgeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRelRecServlet</display-name>
    <servlet-name>UserRelRecServlet</servlet-name>
    <servlet-class>servlet.UserRelRecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRelRecServlet</servlet-name>
    <url-pattern>/UserRelRecServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QiniuCloud</display-name>
    <servlet-name>QiniuCloud</servlet-name>
    <servlet-class>servlet.QiniuCloud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QiniuCloud</servlet-name>
    <url-pattern>/QiniuCloud</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>FeatureJudgeServlet</display-name>
    <servlet-name>FeatureJudgeServlet</servlet-name>
    <servlet-class>servlet.FeatureJudgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeatureJudgeServlet</servlet-name>
    <url-pattern>/FeatureJudgeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MineRelServlet</display-name>
    <servlet-name>MineRelServlet</servlet-name>
    <servlet-class>servlet.MineRelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MineRelServlet</servlet-name>
    <url-pattern>/MineRelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MineRecServlet</display-name>
    <servlet-name>MineRecServlet</servlet-name>
    <servlet-class>servlet.MineRecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MineRecServlet</servlet-name>
    <url-pattern>/MineRecServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CitySceneServlet</display-name>
    <servlet-name>CitySceneServlet</servlet-name>
    <servlet-class>servlet.CitySceneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CitySceneServlet</servlet-name>
    <url-pattern>/CitySceneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BannerSceneServlet</display-name>
    <servlet-name>BannerSceneServlet</servlet-name>
    <servlet-class>servlet.BannerSceneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BannerSceneServlet</servlet-name>
    <url-pattern>/BannerSceneServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>Android1</display-name>
    <servlet-name>Android1</servlet-name>
    <servlet-class>Android1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Android1</servlet-name>
    <url-pattern>/Android1</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Filterlm</display-name>
    <filter-name>Filterlm</filter-name>
    <filter-class>filter.Filterlm</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filterlm</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>lvchenglogin.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>lvchenglogin.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modify</display-name>
    <servlet-name>Modify</servlet-name>
    <servlet-class>lvchenglogin.Modify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modify</servlet-name>
    <url-pattern>/Modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassificationServlet
</display-name>
    <servlet-name>ClassificationServlet</servlet-name>
    <servlet-class>servletClassification.ClassificationServlet
</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassificationServlet</servlet-name>
    <url-pattern>/ClassificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InputShoppingCartServlet</display-name>
    <servlet-name>InputShoppingCartServlet</servlet-name>
    <servlet-class>shoppingcartservlet.InputShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputShoppingCartServlet</servlet-name>
    <url-pattern>/InputShoppingCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowShoppingCartServlet</display-name>
    <servlet-name>ShowShoppingCartServlet</servlet-name>
    <servlet-class>shoppingcartservlet.ShowShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowShoppingCartServlet</servlet-name>
    <url-pattern>/ShowShoppingCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteShoppingCartServlet</display-name>
    <servlet-name>DeleteShoppingCartServlet</servlet-name>
    <servlet-class>shoppingcartservlet.DeleteShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteShoppingCartServlet</servlet-name>
    <url-pattern>/DeleteShoppingCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DefaultAddressServlet</display-name>
    <servlet-name>DefaultAddressServlet</servlet-name>
    <servlet-class>shoporderservlet.DefaultAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DefaultAddressServlet</servlet-name>
    <url-pattern>/DefaultAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllReceiveAddressServlet</display-name>
    <servlet-name>GetAllReceiveAddressServlet</servlet-name>
    <servlet-class>mineservlet.GetAllReceiveAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllReceiveAddressServlet</servlet-name>
    <url-pattern>/GetAllReceiveAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InputNewAddressServlet</display-name>
    <servlet-name>InputNewAddressServlet</servlet-name>
    <servlet-class>mineservlet.InputNewAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputNewAddressServlet</servlet-name>
    <url-pattern>/InputNewAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAddressServlet</display-name>
    <servlet-name>DeleteAddressServlet</servlet-name>
    <servlet-class>mineservlet.DeleteAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAddressServlet</servlet-name>
    <url-pattern>/DeleteAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyAddressServlet</display-name>
    <servlet-name>ModifyAddressServlet</servlet-name>
    <servlet-class>mineservlet.ModifyAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyAddressServlet</servlet-name>
    <url-pattern>/ModifyAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InputProductOrder2Servlet</display-name>
    <servlet-name>InputProductOrder2Servlet</servlet-name>
    <servlet-class>productorderservlet.InputProductOrder2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputProductOrder2Servlet</servlet-name>
    <url-pattern>/InputProductOrder2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IspayUpdateServlet</display-name>
    <servlet-name>IspayUpdateServlet</servlet-name>
    <servlet-class>productorderservlet.IspayUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IspayUpdateServlet</servlet-name>
    <url-pattern>/IspayUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InputProductOrderServlet</display-name>
    <servlet-name>InputProductOrderServlet</servlet-name>
    <servlet-class>productorderservlet.InputProductOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputProductOrderServlet</servlet-name>
    <url-pattern>/InputProductOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IspayUpdateCartServlet</display-name>
    <servlet-name>IspayUpdateCartServlet</servlet-name>
    <servlet-class>productorderservlet.IspayUpdateCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IspayUpdateCartServlet</servlet-name>
    <url-pattern>/IspayUpdateCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderStateAllIspayServlet</display-name>
    <servlet-name>OrderStateAllIspayServlet</servlet-name>
    <servlet-class>productorderstateservlet.OrderStateAllIspayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderStateAllIspayServlet</servlet-name>
    <url-pattern>/OrderStateAllIspayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrderIspayServlet</display-name>
    <servlet-name>DeleteOrderIspayServlet</servlet-name>
    <servlet-class>productorderstateservlet.DeleteOrderIspayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderIspayServlet</servlet-name>
    <url-pattern>/DeleteOrderIspayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderStateAllIsBackProductServlet</display-name>
    <servlet-name>OrderStateAllIsBackProductServlet</servlet-name>
    <servlet-class>productorderstateservlet.OrderStateAllIsBackProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderStateAllIsBackProductServlet</servlet-name>
    <url-pattern>/OrderStateAllIsBackProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemindIsbackProductServlet</display-name>
    <servlet-name>RemindIsbackProductServlet</servlet-name>
    <servlet-class>productorderstateservlet.RemindIsbackProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemindIsbackProductServlet</servlet-name>
    <url-pattern>/RemindIsbackProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderStateAllIsReceiveServlet</display-name>
    <servlet-name>OrderStateAllIsReceiveServlet</servlet-name>
    <servlet-class>productorderstateservlet.OrderStateAllIsReceiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderStateAllIsReceiveServlet</servlet-name>
    <url-pattern>/OrderStateAllIsReceiveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsReceiveServlet</display-name>
    <servlet-name>IsReceiveServlet</servlet-name>
    <servlet-class>productorderstateservlet.IsReceiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsReceiveServlet</servlet-name>
    <url-pattern>/IsReceiveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderStateAllIsEvaluateServlet</display-name>
    <servlet-name>OrderStateAllIsEvaluateServlet</servlet-name>
    <servlet-class>productorderstateservlet.OrderStateAllIsEvaluateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderStateAllIsEvaluateServlet</servlet-name>
    <url-pattern>/OrderStateAllIsEvaluateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InputEvaluateServlet</display-name>
    <servlet-name>InputEvaluateServlet</servlet-name>
    <servlet-class>productorderstateservlet.InputEvaluateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputEvaluateServlet</servlet-name>
    <url-pattern>/InputEvaluateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateIsEvaluateServlet</display-name>
    <servlet-name>UpdateIsEvaluateServlet</servlet-name>
    <servlet-class>productorderstateservlet.UpdateIsEvaluateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateIsEvaluateServlet</servlet-name>
    <url-pattern>/UpdateIsEvaluateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllMyOrderServlet</display-name>
    <servlet-name>AllMyOrderServlet</servlet-name>
    <servlet-class>mineservlet.AllMyOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllMyOrderServlet</servlet-name>
    <url-pattern>/AllMyOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetailsServlet</display-name>
    <servlet-name>ProductDetailsServlet</servlet-name>
    <servlet-class>productdetailsservlet.ProductDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailsServlet</servlet-name>
    <url-pattern>/ProductDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllEvaluateServlet</display-name>
    <servlet-name>AllEvaluateServlet</servlet-name>
    <servlet-class>productdetailsservlet.AllEvaluateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllEvaluateServlet</servlet-name>
    <url-pattern>/AllEvaluateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUserServlet</display-name>
    <servlet-name>ShowUserServlet</servlet-name>
    <servlet-class>lvchenglogin.ShowUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserServlet</servlet-name>
    <url-pattern>/ShowUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Getaccountname</display-name>
    <servlet-name>Getaccountname</servlet-name>
    <servlet-class>lvchenglogin.Getaccountname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Getaccountname</servlet-name>
    <url-pattern>/Getaccountname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpDatePasswordServlet</display-name>
    <servlet-name>UpDatePasswordServlet</servlet-name>
    <servlet-class>lvchenglogin.UpDatePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpDatePasswordServlet</servlet-name>
    <url-pattern>/UpDatePasswordServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>lvchenglogin.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>lvchenglogin.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>